.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin: 80px 50px;
}
.cart-container {
  background-color: #ffe0b3;
  margin-top: 5em;
  border-radius: 20px;
}

@media only screen and (max-width: 688px) {
  .shop-container {
    display: inline;
    gap: 30px;
  }
  .products-container {
    display: inline;
  }
}
